.Main {
    text-align: center;
  }
  
  .Main-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Main-logo {
      animation: Main-logo-spin infinite 20s linear;
    }
  }
  
  .Main-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Main-link {
    color: #61dafb;
  }
  
  @keyframes Main-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* .box1{
    width: 100%,
    
  } */

  .tbody{
    border: #282c34 solid 2px;
  }

// .custom-row-class-2{
//   border: #000000 solid 2px;
  
// }

.bootstrap-row{
  //border: #000000 solid 2px;
  // width: 5000px;
  // background-color: aquamarine;
}

.tr{
  
}
  
.table-striped{
  tbody tr:nth-of-type(odd) {
    background-color: rgb(255, 255, 255);
  }
}

.table-hover{
  tbody {
    background-color: rgb(246, 245, 245);
  }
}

.tbody tr{
  background-color: rgb(198, 172, 244);
}

.bootstrap-header{
  background-color: rgb(95, 106, 58);
}
.pagination-style .react-bootstrap-table-pagination {
  background-color: #0d7206;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  background-color: azure;
  
}

.custom-row-class-2{
  background-color: #2f2d2d;
}

.buttontabledata{
  overflow: scroll;
  height: 330px;
}

.searched-word{
  width: 1000px;
  background-color: rgb(203, 232, 255);
  //border-style: groove;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.box-ip-weather{
  height: auto;
  width: 200px;
  border: #282c34 1px solid;
  border-radius: 20px;
  //padding-left: 10px;
  // margin-top: '10px' !important;
  // margin-bottom : '10px' !important
}

.firstCard{
  height: auto;
  display: flex;
  justify-content:space-around;
  margin: 10px;
  margin-bottom: 20px;
  
}


@media screen and (max-width: 700px) {
  .firstCard{
    height: auto;
    //display: flex !important;
    //justify-content:space-around;
    flex-direction: column !important;
    margin: 10px;
    margin-bottom: 20px;
    //background-color: lavender; 
  }

  .searched-word{
    width: auto;
    background-color: rgb(203, 232, 255);
    //border-style: groove;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .box-ip-weather{
    height: auto;
    width: auto;
    border: #282c34 1px solid;
    border-radius: 20px;
    margin: 20px;
    //padding-left: 10px;
    // margin-top: '10px' !important;
    // margin-bottom : '10px' !important
  }
}

// .firstCard{
//   display: flex;
//   justify-content: flex-end;
// }


.heart-shape{
  position: relative;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: rgb(250, 66, 66);
}
.heart-shape:before,
.heart-shape:after{
  position: absolute;
  width: 100px;
  height: 100px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgb(250, 66, 66);
}
.heart-shape:before{
  bottom: 0px;
  left: -50px;
}
.heart-shape:after{
  top: -50px;
  right: 0px;
}